/* app css stylesheet */
.weather-header {
    margin: 2rem 0;
}

.weather-table_row {
    cursor: pointer;
}

.weather-table_header {
    background-color: whitesmoke;
}

.weather-table_header:hover {
    background-color: silver;
}

.weather-chart {
    margin: 0 auto;
    text-align: center;
}