<div class="row weather">
    <h1 class="col-sm-12 weather-header">Weather now</h1>
    <div class="col-sm-12">
        <table class="table table-hover table-bordered">
            <tr class="weather-table_row">
                <th class="weather-table_header" data-ng-click="orderByMe('name')">Name:</th>
                <th class="weather-table_header" data-ng-click="orderByMe('weather')">Weather:</th>
                <th class="weather-table_header" data-ng-click="orderByMe('temperature')">Temperature:</th>
                <th class="weather-table_header" data-ng-click="orderByMe('wind')">Wind:</th>
            </tr>
            <tr data-ng-repeat="city in cities | orderBy: myOrderBy" data-ng-click="showAdditionalInfo(city.id)"
                class="col-xs-12 weather-table_row">
                <td>{{city.name}}</td>
                <td>{{city.weather}}</td>
                <td>{{city.temperature}} ℃</td>
                <td>{{city.wind}} meter/sec</td>
            </tr>
        </table>
    </div>

    <div ng-show="showCityInfo" class="col-sm-11 weather-chart">
        <h2 class="weather-header">{{graph.name}} - weather in near future</h2>
        <canvas class="chart chart-line" data-chart-data="graph.data"
                data-chart-labels="graph.labels" data-chart-series="graph.series" data-chart-options="graph.options"
                data-chart-dataset-override="graph.datasetOverride">
        </canvas>
    </div>
</div>
